
            #ouibounce-modal .modal {
                width: 640px;
//                    min-height: 356px;
                height: 356px;
                background-color: #f0f1f2;
                z-index: 1;
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                overflow: visible;
                opacity: 1;
                max-width: 85%;
                max-height: 85%;
                border-radius: 4px;
                -webkit-animation: popin 1.0s;;
      -moz-animation: popin 1.0s;;
      -o-animation: popin 1.0s;;
                animation: popin 1.0s;;
      align-items: center;justify-content: center;
              }#ouibounce-modal .underlay {background-color: rgba(0,0,0,0.5);}#ouibounce-modal .modal .modal-body *:not(iframe) {
        max-width: 100%;
        height: auto;
        max-height: 99%;
    }
    #ouibounce-modal .modal .modal-body iframe {
                display: flex;
                align-items: center;
                margin-bottom: 0;
    }
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

body  {
    font-family: 'Roboto', sans-serif;
  }

  h1, h2, h3, h4, h5, h6, .title, .text_logo, .comment-reply-title, .header_square_logo a.square_letter_logo  {
    font-family: 'Poppins', sans-serif;
  }

  a  {
    color: #ff374a;
  }

  input[type='submit']:hover  {
    background-color: #ff374a;
  }

  .main_color_bg  {
    background-color: #ff374a;
  }

  .main_color_text  {
    color: #ff374a;
  }

  .social_icons_list.header_social_icons .social_icon:hover  {
    color: #ff374a;
  }

  .header_square_logo a.square_letter_logo  {
    background-color: #ff374a;
  }

  .header_nav .text_logo a span.logo_dot  {
    background-color: #ff374a;
  }

  .header_nav .main_menu .menu_mark_circle  {
    background-color: #ff374a;
  }

  .full_width_list .post_title a:hover:before  {
    background-color: #ff374a;
  }

  .full_width_list .post_title a:hover:after  {
    background: linear-gradient(to right,#ff374a 0,#ff374a 35%,#ff374a 65%,#FFF 100%);
    background: -ms-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#fff 100%);
    background: -o-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#fff 100%);
    background: -webkit-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#FFF 100%);
    background: -moz-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#fff 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#ff374a),color-stop(35%,#ff374a),color-stop(65%,#ff374a),color-stop(100%,#FFF));
    ;       }

  .grid_list .post_title a:hover:before  {
    background-color: #ff374a;
  }

  .grid_list .post_title a:hover:after  {
    background: linear-gradient(to right,#ff374a 0,#ff374a 35%,#ff374a 65%,#FFF 100%);
    background: -ms-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#fff 100%);
    background: -o-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#fff 100%);
    background: -webkit-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#FFF 100%);
    background: -moz-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#fff 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#ff374a),color-stop(35%,#ff374a),color-stop(65%,#ff374a),color-stop(100%,#FFF));
    ;       }

  .two_coloumns_list .post_title a:hover:before  {
    background-color: #ff374a;
  }

  .two_coloumns_list .post_title a:hover:after  {
    background: linear-gradient(to right,#ff374a 0,#ff374a 35%,#ff374a 65%,#FFF 100%);
    background: -ms-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#fff 100%);
    background: -o-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#fff 100%);
    background: -webkit-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#FFF 100%);
    background: -moz-linear-gradient(left,#ff374a 0,#ff374a 35%,#ff374a 65%,#fff 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#ff374a),color-stop(35%,#ff374a),color-stop(65%,#ff374a),color-stop(100%,#FFF));
    ;       }

  .post_meta_container a:hover  {
    color: #ff374a;
  }

  .post.sticky .blog_meta_item.sticky_post  {
    color: #ff374a;
  }

  .blog_post_readmore a:hover .continue_reading_dots .continue_reading_squares > span  {
    background-color: #ff374a;
  }

  .blog_post_readmore a:hover .continue_reading_dots .readmore_icon  {
    color: #ff374a;
  }

  .comment-list .reply a:hover  {
    color: #ff374a;
  }

  .comment-list .reply a:hover .comments_reply_icon  {
    color: #ff374a;
  }

  form.comment-form .form-submit input:hover  {
    background-color: #ff374a;
  }

  .comment-list .comment.bypostauthor .comment-content:before  {
    border-top-color: #ff374a;
    border-left-color: #ff374a;
  }

  .comments-area a:hover  {
    color: #ff374a;
  }

  .newsletter_susbcripe_form label .asterisk  {
    color: #ff374a;
  }

  .newsletter_susbcripe_form .mce_inline_error  {
    color: #ff374a!important;
  }

  .newsletter_susbcripe_form input[type='submit']:hover  {
    background-color: #ff374a;
  }

  .widget_content #mc_embed_signup input[type='submit']:hover  {
    background-color: #ff374a;
  }

  .social_icons_list .social_icon:hover  {
    color: #ff374a;
  }

  .alia_post_list_widget .post_info_wrapper .title a:hover  {
    color: #ff374a;
  }

  .tagcloud a:hover  {
    color: #ff374a;
  }

  .navigation.pagination .nav-links .page-numbers.current  {
    background-color: #ff374a;
  }

  .navigation_links a:hover  {
    background-color: #ff374a;
  }

  .page-links > a:hover, .page-links > span  {
    background-color: #ff374a;
  }

  .story_circle:hover  {
    border-color: #ff374a;
  }

  .see_more_circle:hover  {
    border-color: #ff374a;
  }

  .main_content_area.not-found .search-form .search_submit  {
    background-color: #ff374a;
  }

  .blog_list_share_container .social_share_item_wrapper a.share_item:hover  {
    color: #ff374a;
  }

  .widget_content ul li a:hover  {
    color: #ff374a;
  }

  .footer_widgets_container .social_icons_list .social_icon:hover  {
    color: #ff374a;
  }

  .footer_widgets_container .widget_content ul li a:hover  {
    color: #ff374a;
  }

  .cookies_accept_button  {
    background-color: #ff374a;
  }

  .alia_gototop_button > i  {
    background-color: #ff374a;
  }


.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: white;
  color: #55ACEE;
}

.fa-linkedin {
  background: white;
  color: #007bb5;
}

/*.fa-skype {
  background: white;
  color: #125688;
}*/

.fa-telegram {
  background: white;
  color: #55ACEE;
}

div.contacts {
  text-align: center;
}
</style>

<style>
  pre {
    /*font-size:12px;*/
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }
  .entry-content ol {
    padding-left: 0;
    margin-left: 32px;
  }
